.container {
  min-height: 100vh;
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  width: 100%;
}

.main > div {
  flex: 1;
  width: 50%;
  overflow: auto;
}

.imagePane {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.imagePane a {
    height: max-content;
    box-shadow: 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
}
